
.head{
    width : 100%;
    background-color: darkslategray;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 2px 5px 0 5px;
}

h1{
    font-size: 1.5rem;
    color : white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}